@page
@model WebMarketRezorApp.Pages.FormElementsModel
@{
    <div class="pagetitle">
        <h1>Form Elements</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Elements</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">General Form Elements</h5>

                        <!-- General Form Elements -->
                        <form method="post">
                            <div class="row mb-3">
                                <label asp-for="Element.Text" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="Element.Text" type="text" class="form-control">
                                    <span class="text-bg-danger" asp-validation-for="Element.Text" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input asp-for="Element.Email" type="email" class="form-control">
                                    <span class="text-bg-danger" asp-validation-for="Element.Email" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input asp-for="Element.Password" type="password" class="form-control">
                                    <span class="text-bg-danger" asp-validation-for="Element.Password" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Number</label>
                                <div class="col-sm-10">
                                    <input asp-for="Element.PhonNumber" type="number" class="form-control">
                                    <span class="text-bg-danger" asp-validation-for="Element.PhonNumber" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
                                <div class="col-sm-10">
                                    <input asp-for="Element.FileAddress" class="form-control" type="file" id="formFile">
                                    <span class="text-bg-danger" asp-validation-for="Element.FileAddress" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
                                <div class="col-sm-10">
                                    <input asp-for="Element.Date" type="date" class="form-control">
                                    <span class="text-bg-danger" asp-validation-for="Element.Date" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputTime" class="col-sm-2 col-form-label">Time</label>
                                <div class="col-sm-10">
                                    <input asp-for="Element.Time" type="time" class="form-control">
                                    <span class="text-bg-danger" asp-validation-for="Element.Time" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Textarea</label>
                                <div class="col-sm-10">
                                    <textarea asp-for="Element.BodyText" class="form-control" style="height: 100px"></textarea>
                                    <span class="text-bg-danger" asp-validation-for="Element.BodyText" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Submit Button</label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Submit Form</button>
                                </div>
                            </div>

                        </form>
                        <!-- End General Form Elements -->

                    </div>
                </div>

            </div>
        </div>
    </section>
}
<!--Add Partial inputValidation in to Front FormEelment -->
@section InpoutValidationElementForm{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
